<div class="stuff_container">
  <div class="card_container">
    <div class="card_list">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card_category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('url(https://images.pexels.com/photos/338713/pexels-photo-338713.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) center/cover no-repeat')">
            <h1 id= "cocktail-name"><%= cocktail.name %></h1>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
