<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1520033222127-8f6d08b425f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1232&q=80);">
  <div class="banner_container">
    <h1>Cocktail</h1>
     <h1>Master</h1>
    <p>Change your life and drink as many cocktails as possible.</p>
    <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary", id: "banner_action" %>
  </div>
</div>
