<%= render 'shared/banner' %>
<div class="stuff_container">
  <div class="card_container">
    <div class="card_list">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card_category">
            <h1 id= "cocktail-name"><%= cocktail.name %></h1>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
